<h1>My Companies</h1>
<ul class="list-group companies">
    <li class="list-group-item" *ngFor="let company of companies" (click)="onSelect(company)" [class.active]="company === selectedCompany">
    <span>
      <small>{{company.id}}</small> {{company.title}} 
    </span>
    <button class="btn btn-danger" (click)="deleteCompany(company, $event)">Delete</button>
  </li>
</ul>

<div class="error" *ngIf="error">{{error}}</div>
<button class="btn btn-success" (click)="addCompany()">Add New Company</button>
<div *ngIf="addingCompany">
  <my-company-detail (close)="close($event)"></my-company-detail>
</div>

<div *ngIf="selectedCompany">
  <h2>
    {{selectedCompany.title | uppercase}}
  </h2>
  <button class="btn btn-info" (click)="gotoDetail()">View Details</button>
</div>
