<div class="company-block" *ngIf="company">
    <h1>{{company.title}} details</h1>
    <form #companyDetailForm (submit)="$event.preventDefault(); save();">
        <div class="form-group">
            <label>ID: </label>
            {{ company.id }}        
        </div>
        <div class="form-group" [class.error]="error.title">
            <label for="company-title">Title: </label>
            <input class="form-control" name="title" [(ngModel)]="company.title" placeholder="Title" />
            <div class="error-text" *ngIf="error.title">{{ error.title }}</div>
        </div>
        <div class="form-group" [class.error]="error.description">
            <label for="company-description">Description</label>
            <textarea class="form-control" name="title" [(ngModel)]="company.description"></textarea>
            <div class="error-text" *ngIf="error.description">{{ error.description }}</div>
        </div>

        <button class="btn btn-info" type="button" (click)="goBack()">Back</button>
        <button class="btn btn-primary" type="submit">Save</button>
    </form>
</div>