<div *ngIf="response">
    <form #jobResponseDetailForm (submit)="$event.preventDefault(); save();">
        <div class="form-group">
            <label>
                ID:
            </label>
            {{ response.id }}
        </div>
        <div class="form-group" [class.error]="error.title">
            <label>Title: </label>
            <input class="form-control" name="title" [(ngModel)]="response.title" placeholder="Title" />
            <div class="error-text" *ngIf="error.title">{{ error.title }}</div>
        </div>
        <div class="form-group" [class.error]="error.description">
            <label>Description</label>
            <input class="form-control" name="description" type="textarea" [(ngModel)]="response.description"/>
            <div class="error-text" *ngIf="error.description">{{ error.description }}</div>
        </div>
        <div class="form-group" [class.error]="error.my_rank">
            <label>My Rank: </label>
            <select class="form-control" name="my_rank" [(ngModel)]="response.my_rank" required>
                <option *ngFor="let rk of ranks" [ngValue]="rk.id">{{ rk.title }}</option>
            </select>
            <div class="error-text" *ngIf="error.my_rank">{{ error.my_rank }}</div>
        </div>
        <div class="form-check" [class.error]="error.is_positive">
            <label>Is Positive? </label>
            <input type="checkbox" name="is_positive" class="form-check-input" [(ngModel)]="response.is_positive">
            <div class="error-text" *ngIf="error.is_positive">{{ error.is_positive }}</div>
        </div>
        <button class="btn btn-info" (click)="goBack()">Back</button>
        <button class="btn btn-success" type="submit">Save</button>
    </form>
</div>