<div class="job-block" *ngIf="job">
    <h1>{{job.title}} at {{ job.company_title }} details</h1>
    <form #jobDetailsForm (submit)="$event.preventDefault(); save(); jobDetailsForm.reset();">
        <div class="form-group">
            <label>ID: </label>
            {{ job.id }}        
        </div>
        <div class="form-group" [class.error]="error.title">
            <label>Title: </label>
            <input  class="form-control" [(ngModel)]="job.title" name="title" placeholder="Title" />
            <div class="error-text" *ngIf="error.title">{{ error.title }}</div>
        </div>
        <div class="form-group" [class.error]="error.description">
            <label>Description</label>
            <textarea class="form-control" [(ngModel)]="job.description" name="description"></textarea>
            <div class="error-text" *ngIf="error.description">{{ error.description }}</div>
        </div>
        <div class="form-group" [class.error]="error.company">
            <label>Company: </label>
            <select class="form-control" [(ngModel)]="job.company" name="company" required>
                <option *ngFor="let c of companies" [ngValue]="c.id">{{ c.title }}</option>
            </select>
            <div class="error-text" *ngIf="error.company">{{ error.company }}</div>
        </div>
        <button type="button" class="btn btn-info" (click)="goBack()">Back</button>
        <button class="btn btn-primary" type="submit">Save</button>
    </form>

    <ul *ngIf="job.id">
        <div class="response-group" *ngFor="let r of responses">
            <span>Response #{{ r.id }}</span>
            <h4>{{ r.title }}</h4>
            {{ r.description }}
        </div>
        <div class="adding-response">Adding Response</div>
        <div *ngIf="addingResponse">
            <my-response-detail [job]="job" [parent]="this"></my-response-detail>
        </div>
    </ul>
    
</div>