<h1>My Jobs</h1>
<ul class="list-group jobs">
    <li class="list-group-item" *ngFor="let job of jobs" (click)="onSelect(job)" [class.active]="job === selectedJob">
    <span class="job-element">
      <small>{{job.id}}</small> {{job.title}} at {{ job.company_title }}
    </span>
    <button class="btn btn-danger" (click)="deleteJob(job, $event)">Delete</button>
  </li>
</ul>

<div class="error" *ngIf="error">{{error}}</div><br>
<button class="btn btn-primary" (click)="addJob()" *ngIf="!addingJob">Add New Job</button>
<div *ngIf="addingJob">
  <my-job-detail (close)="close($event)"></my-job-detail>
</div>

<div *ngIf="selectedJob">
  <h2>
    {{selectedJob.title | uppercase }} at {{ selectedJob.company_title }}
  </h2>

  <button class="btn btn-info" (click)="gotoDetail()">View Details</button>
</div>
