h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
body {
  /*margin: 2em;*/
}

jobs {
    padding: 20px;
    margin-left: 20px;
}

.adding-response {
  margin-top: 20px;
  margin-bottom: 20px;
  color: lightgreen;
}

.response-group {
  margin-bottom: 10px;
}

 /*
  * See https://github.com/angular/angular.io/blob/master/public/docs/_examples/styles.css
  * for the full set of master styles used by the documentation samples
  */

.error {
    border: 1px solid red;
}
.error-text {
    color: red;
}